* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.links {
  height: 50px;
  background-color: #bad085;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
}

.links a {
  text-decoration: none;
  color: white;
  margin-right: 1%;
  text-decoration: none;
  color: white;
}

main {
  background: url(/img/fondo-slide-classiche.jpg);
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

main h2 {
  width: 100%;
  text-align: center;
  color: #1b3173;
}

main .card {
  width: calc(100%/3);
  padding: 25px;
}

main .card .items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}

main .card .items .card__overlay {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main .card .items .card__overlay h5 {
  font-size: 15px;
  color: white;
}

main .card .items .card__overlay img {
  width: 48px;
  color: white;
}

main .card .items img {
  width: 100%;
}

main .card .items:hover .card__overlay {
  opacity: 1;
}

.active {
  border-bottom: 4px solid blue;
}

